/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-sep-2016, 10:19:27
    Author     : alumno
*/

.tabla{
    height: 600px;
    width: 800px;
    border-collapse: collapse;
    border: 1px solid black;
}

.cabecera {
    background-color: #0174DF;
    text-decoration: blink;
    font-size: 32px;
    color: white;
}

.dias {
    background-color: #FAAC58;
    padding: 1em 1em;
    empty-cells: show;
    border: 1px solid black;
    text-align: center;
}

.diasemana {
    background-color: #DF7401;
    text-align: center;
    border: 1px solid black;
}

.dias:hover{
    background-color: #DF7401;
    text-decoration: blink;
}

.boton{
    text-decoration: none;
    color: white;
}
